
.mike{
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}
.mike2{
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


.portfolio img{
    
    
    filter: drop-shadow(-12px 15px 13px rgba(0,0,0,0.25));
    border-radius: 19px;
    
}

@media screen and (max-width:400px){
    .portfolio{
        display: none;
        margin-top: -20rem;
    }   
}